
.timeline {
    padding: 0 5%;
    display: flex;
    font-family: "Fira Sans", sans-serif;
    color: #000000;
    flex-direction: row;

  }

  img{
    width: 100%;
    height: 100%;
  }
  .timeline-img{
  flex-basis: 47% 1 1;
  }

  @media screen and (max-width:992px) {
    .timeline{
      flex-direction: column;
    }
  }